[submodule "src/mas_multiview_py"]
	path = src/mas_multiview_py
	url = git@github.com:swl017/mas_multiview_py.git
[submodule "src/mas_common_frame"]
	path = src/mas_common_frame
	url = git@github.com:swl017/mas_common_frame.git
